.home__container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 75vh;
}

.img{
	width: 25%;
	display: grid;
	place-items: center;

	border:1px solid black;
	border-radius: 40% 20% 35% 20%;
	box-shadow: 0 0 15px 0 ;
}
.img img{
	width: 100%;
	margin: 0 auto;
	border-radius: 35% 20% 35% 20% ;
}

.title{
	color: rgb(56, 60, 61);
	text-align: start;
	margin-top: 50px;
}

.title h1{
	font-size: 3rem;
}



.iconsSocial a{
	font-size: 30px;
	margin: 0px 10px;
} 



.border_bottom_titles{
	border: 1px solid white;
	display: block;
	width: 50px;
}


@media(max-width: 720px){
	.home__container{
		flex-direction:column-reverse;
		margin:1rem 2rem;
	}
	.img{
		display: none;
	}
	.title h1{
		font-size: 2rem;
	}
	.title h3{
		font-size: 20px;
	}
}


@keyframes action{
	from{
		margin-top: -10px;
	}to{
		margin-top: 0px;
	}
}