header{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	align-items: center;

	font-weight: bold;

	border-bottom: 1px solid rgba(0, 0, 0, .4);

	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	box-shadow: 0 0 10px 0 ;
}


nav{
	width: 100%;
	/*background: rgba(3, 4, 94,1);*/
	color: #252525;
	display: flex;
	justify-content: space-between;
	flex-direction: column;


	
}


nav a{
	text-align: center;
	margin:1rem auto;
}

#navbarNav{
	flex: .5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#ulNavbar{
	list-style: none;
	display: flex;
	margin: 0;
	width: 100%;
}
#ulNavbar li{
	flex: 1;
	font-size: 1rem;
	text-align: center;
}

#ulNavbar li:hover{
	background-color: whitesmoke;
}

#ulNavbar .active{
	border-bottom: 1px solid #252525;
}

nav .navbar-toggler-icon {
	color: red;/* Cor do ícone do botão hambúrguer */
  }


  @media screen and (min-width:720px) {
		nav{
			flex-direction: row;
		}
  }